div#flextest {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 80%;
	margin: auto;
}

div.flexitem {
	display: inline-block;
	position: relative;
	text-align: center;
	flex-shrink: 1;
	margin: 20px 2px;
	width: 47%;
}

div.flexitem:hover {
}

div.flexitem img.albumcover {
	display: block;
	margin: auto;
	width: 100%;
	margin-bottom: 10px;
	transition: transform 0.1s;
}

div.flexitem:hover img.albumcover {
	transform: scale( 1.05 );
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}


/* Play button */

/*
div.album-cover-wrapper {
	position: relative;
}

div.album-cover-wrapper:hover::before {
	position: absolute;
	top: calc( 50% - 20px );
	left: calc( 50% - 20px );
	content: '\25b6';
	padding: 5px 0px 0px 5px;
	z-index: 1;
	font-size: 30px;
	height: 40px;
	width: 40px;
	color: white;
	opacity: 0.9;
	transition: opacity 0.1s;
	border: 3px solid white;
	border-radius: 50%;
}
*/


@media (min-width: 576px) {

	div.flexitem {
		width: 31%;
	}

}

@media (min-width: 768px) {

	div.flexitem {
		width: 23%;
	}
}