<!doctype html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jesse Fischer - pianist. producer. engineer.</title>
	<link rel='stylesheet' href='/css/styles.css'>
	<link rel="icon" type="image/png" href="/img/jf-fav-icon-64x64.png">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,700i,900|Roboto:100,300,400,400i,500,700,700i&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
	<link rel="stylesheet" href="/css/hamburgers.css">
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script type="text/javascript" src="/js/smoothscroll.min.js"></script>
    
	<script src='/js/main.js'></script>

	<!-- Open Graph -->
	<meta property="og:title" content="Jesse Fischer - pianist. producer. engineer">
	<meta property="og:description" content="Jesse Fischer is a Brooklyn-based pianist, composer, and producer. Known for his warm, soulful touch and emphasis on melody, groove, storytelling and emotion, his unique voice combines elements of his own Jewish heritage with music of the African diaspora, jazz, hip-hop, indie, and singer-songwriter genres.">
	<meta property="og:image" content="https://jessefischer.com/img/ld-jesse-prophet-1920w.jpg">
	<meta property="og:url" content="https://jessefischer.com">
	<meta property="og:type" content="website">

	<!-- Netlify CMS -->
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
	<header>
		<div class='header-cover'></div>

		<div class='header-cover-overlay'></div>

				<a href='/'><div id='jf-logo'>
			<img src='/img/jf-thick-logo-white-100x100.png'>
		</div></a>




		<nav>
			<!--<span id='nav-burger'>menu</span>-->

			<button class="hamburger hamburger--squeeze" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>  
		
			<span class='nav-link{% if page.fileSlug == "about" %} active{% endif %}' id='nav-about'><a href='/about/'>about</a></span>
			<span class='nav-link{% if page.fileSlug == "tour" %} active{% endif %}' id='nav-tour'><a href='/tour/'>tour</a></span>
			<span class='nav-link{% if page.fileSlug == "sounds" %} active{% endif %}' id='nav-sounds'><a href='/sounds/'>sounds</a></span>
			<span class='nav-link{% if page.fileSlug == "visuals" %} active{% endif %}' id='nav-visuals'><a href='/visuals/'>visuals</a></span>
			<span class='nav-link{% if page.fileSlug == "shop" %} active{% endif %}' id='nav-shop'><a href='https://jessefischer.bandcamp.com/'>shop</a></span>
			<span class='nav-link{% if page.fileSlug == "connect" %} active{% endif %}' id='nav-connect'><a href='/connect/'>connect</a></span>
		</nav>


		<div id='header-three-roles'>

			<div id='main-title'><a href='/'>Jesse Fischer</a></div>

			<div class='header-three-roles-wrapper' id='header-pianist-wrapper'><a href='#'>
				<div class='header-role' id='header-pianist'>pianist.</div>
				<div class='header-short-bio' id='header-short-pianist-bio'>
					<p>Jesse Fischer is a Brooklyn-based pianist and composer, known for combining elements of his own Jewish heritage with music of the African diaspora, jazz, hip-hop, and singer-songwriter genres. <a href='/about/'><span class='read-more'>read more</span></a></p>
				</div>
			</a></div>

			<div class='header-three-roles-wrapper' id='header-producer-wrapper'><a href='#'>
				<div class='header-role' id='header-producer'>producer.</div>
				<div class='header-short-bio' id='header-short-producer-bio'>
					<p>Jesse also is an in-depend producer and songwriter in the indie-pop, soul, and singer-songwriter genres, working with artists like Morgan James, Laura Izibor, Elise Testone, and Brenda Nicole Moorer. <a href='/about/'><span class='read-more'>read more</span></a></p>
				</div>
			</a></div>

			<div class='header-three-roles-wrapper' id='header-engineer-wrapper'><a href='#'>
				<div class='header-role' id='header-engineer'>engineer.</div>
				<div class='header-short-bio' id='header-short-engineer-bio'>
					<p>As a recording and mix engineer, Jesse has a unique sound that&rsquo;s equal parts Abbey Road, Stax Records, and Tribe Called Quest. His credits include work with many cutting edge artists including Christian Scott, BIGYUKI, and Justin Brown. <a href='/about/'><span class='read-more'>read more</span></a></p>
				</div>
			</a></div>

			<div id='header-dummy-wrapper'><a href='#press-quotes'><div id='downward-arrow'></div></a></div>
		</div>

	</header>