{% include header.html %}

	<article class='connect' id='connect'>
		<h1>connect</h1>

		<div class='connect-wrapper'>
			<div class='connect-role'>management</div>
			<div class='connect-info'>
				<strong>Bar&eacute;du Ahmed</strong><br>
				<a href='mailto:bsa@redclayfoundation.org'>bsa@redclayfoundation.org</a><br>
			</div>
		</div>

		<div class='connect-wrapper'>
			<div class='connect-role'>publicity</div>
			<div class='connect-info'>
				<strong>Lydia Liebman</strong><br>
				<a href='mailto:lydia@lydialiebmanpromotions.com'>lydia@lydialiebmanpromotions.com</a><br>
			</div>
		</div>

		<div class='connect-wrapper'>
			<div class='connect-role'>booking</div>
			<div class='connect-info'>
				<a href='mailto:booking@jessefischer.com'>booking@jessefischer.com</a><br>
			</div>
		</div>
	</article>


{% include footer.html %}