{% include header.html %}

	<article class='text'>

	<h1>Press for <em>Cross Currents</em> EP</h1>

	<p>
		<span class='big-left-quote'>&ldquo;</span>Fischer has a knack for delivering ever so satisfying masterstrokes, skilfully textured and intricately layered, merging jazz grooves with a bit of everything dope and fresh he can wrap his mind around. His newest offering, the simply brilliant <em>Cross Currents</em> EP is no different and reaffirms Fischerʼs tenure as one of the coolest dudes to serve up jazz-based neoteric soundscapes.<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; Nextbop</div>
	</p>

	<p>
		<span class='big-left-quote'>&ldquo;</span>He’s always been walking the outer pathways, but with <em>Cross Currents</em>, Jesse truly flexes his depth and maturity of creating cathartic music in the space between joyful beauty and the embrace of the human struggle.<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; Jeremy Sole, KCRW</div>
		</p>

	<h1>Press for <em>Flipped II</em></h1>
	<p>
		<span class='big-left-quote'>&ldquo;</span>Jesse Fischer is a multi-instrumentalist that combines jazz, hip-hop, and electronica into a hip exploration of arranging jazz standards and pushing them as creatively as possible to bring out new visceral capacities of the music.<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; Jeff Williams, Modern Jazz Today</div>
	</p>

	<p>
		<span class='big-left-quote'>&ldquo;</span>Fischer has an excellent ear. He can seamlessly take some of the most characteristic sounds of different genres/regions and make them flow together in ways unheard before… And he is never overwhelming in his playing. Everything is so precise and always in the right place… Easily one of the best albums of the year.<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; Daniel Palmer, Nextbop</div>
	</p>

	<p>
		<span class='big-left-quote'>&ldquo;</span>Pianist/composer/producer Jesse Fischer is undoubtedly a man of many talents, but what truly makes him a standout musician is his uncanny ability to reinterpret some of our favorite songs.<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; SoulBounce</div>
	</p>

	<h1>Press for <em>Day Dreamer</em></h1>

	<p>
		<span class='big-left-quote'>&ldquo;</span>Jesse’s brewed an exotic blend of New York jazz stories and world music from klezmer melodies to afrobeat grooves – an intriguingly personal gumbo.<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; Mark de Clive-Lowe</div>
	</p>

	<p>
		<span class='big-left-quote'>&ldquo;</span><em>Day Dreamer</em> is a culmination of [Jesse’s] unwavering pursuit of capturing the magical groove in a soul/funk jazz atmosphere … Highly Recommended!<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; All About Jazz</div>
	</p>

	<p>
		<span class='big-left-quote'>&ldquo;</span>Fresh new listening experience with Eastern and Israeli influence. Unique arrangements of voice, trumpet, violin and keyboard.<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; Dr. Eddie Henderson</div>
	</p>

	<p>
		<span class='big-left-quote'>&ldquo;</span>Always keeping his sound culturally expansive and innovative, this joyful tune [&ldquo;Nomads&rdquo;] showcases Jesse’s dream in a modern update on 1970’s jazz-funk which is warm, soulful and beautifully incorporates various World musical influences.<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; Crates of JR</div>
	</p>

	<p>
		<span class='big-left-quote'>&ldquo;</span>With <em>Day Dreamer</em>, [Fischer] has given us ten beautifully crafted, lyrically accomplished, and fantastically arranged compositions which definitely hit the musical sweet spot.<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; Tony Minvielle, SoulandJazz.com</div>
	</p>

	<p>
		<span class='big-left-quote'>&ldquo;</span>Jesse and Sarah Elizabeth’s take on [Lovin’ You] is an impressive blend of jazz and soul that makes it stand out from the numerous remakes over the years.<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; SoulBounce.com</div>
	</p>

	<h1>Press for <em>Retro Future</em></h1>
	<p>
		<span class='big-left-quote'>&ldquo;</span>Jesse Fischer plays with astounding energy; creative ideas seem to issue forth from his hands to his instruments at a geyser-like rate. But he and his young band, Soul Cycle, are at their best when they show restraint, letting a rhythm drive its way toward some resolution.<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; DownBeat</div>
	</p>

	<p>
		<span class='big-left-quote'>&ldquo;</span>Jesse Fischer’s new album <em>Retro Future</em> takes us back into the timeless sounds of jazz-funk and soul, while commanding elements of electro, hip-hop and African influences.<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; JazzTimes</div>
	</p>

	<p>
		<span class='big-left-quote'>&ldquo;</span>Jersey-bred, Brooklyn-based keyboardist composes sleek funk, a lá Jeff Lorber, but possess a delicate touch like Chick Corea, all while leading his agile road band, Soul Cycle. His chops behind the keys are only surpassed by his prowess as a producer, arranger and engineer.<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; Revive Music</div>
	</p>

	<p>
		<span class='big-left-quote'>&ldquo;</span>The music is continually expanding into new horizons, and few are as sumptuous as the one Soul Cycle mines. The heavy (if occasionally jittery) grooves are foundations for lyrical, gorgeous blossoms of melody and sound.<span class='big-right-quote'>&rdquo;</span>
		<div class='press-quote-attr'>&mdash; Washington City Paper</div>
	</p>

</article>



{% include footer.html %}