{% include header.html %}

	<article class='discography'>
		<h1>artist sounds</h1>

		      <script type="text/template" id="release-template">

				<div class='discog-item'>
					<div class='release-cover-wrapper'>
						<% if ( typeof extUrl != 'undefined' ) { %>
							<a href='<%- extUrl %>'><div class='release-cover-play-btn'></div><img class='release-cover' src='<%- coverImgUrl %>'></a>
						<% } else {  %>
							<div class='release-cover-play-btn'></div><img class='release-cover' src='<%- coverImgUrl %>'>
						<% } %>
					</div>
					<span class='release-artist'><%= artistName %></span><br>
					<span class='release-name'><%= name %></span><br>
					<span class='release-year'><%= year %></span>
					<% if ( typeof label != 'undefined' ) { %><br>
						<span class='release-label'><%= label %></span>
					<% } %>
					<% if ( typeof description != 'undefined' ) { %><br>
					<br>
					<span class='release-desc'><%= description %></span>
					<% } %>
				</div>

		      </script>

		<div id='artist-discog' class='discog-grid'></div>
	</article>

	<article class='discography'>
		<h1>remix sounds</h1>
		<div id='remix-discog' class='discog-grid'></div>
	</article>

	<article class='discography'>
		<h1>producer/engineer/sideman sounds</h1>
		<div id='sideman-discog' class='discog-grid'></div>
	</article>

{% include footer.html %}