{% include header.html %}

	<article class='tour-dates text' id='tour-dates'>

		<h1>tour dates</h1>
<!-- 
		<p>All upcoming performances are on hold due to the global Covid-19 pandemic. Please consider supporting us by purchasing a CD, LP, or download direct from our <a href='http://jessefischer.bandcamp.com/'>Bandcamp storefront</a>! Stay home and stay safe.</p> -->

		    <script type="text/template" id="gig-template">

				<div class='gig'>
					<div class='gig-date'>
						<%= date.getMonthName() + ' ' + date.getUTCDate() %><br><span class='gig-date-year'><%= date.getFullYear() %></span>
					</div>
					<div class='gig-details'>
						<a href='<%= artistUrl %>'><b><%= artist %></b></a><br>
						<a href='<%= venueUrl %>'><%= venue %></a><br>
						<%= city %>, <%= state %>
						<% if ( typeof extra != 'undefined' ) { %>
						<br>
						<br>
						<span class='gig-extra'>
							<%= extra %>
						</span>
					<% } %>					</div>
					<% if ( typeof ticketsUrl != 'undefined' ) { %>
					<div class='gig-tickets'>
						<a href='<%- ticketsUrl %>'>Buy Tickets</a>
					</div>
					<% } %>

				</div>


		      </script>

		<div class='gig-wrapper'></div>

	</article>

{% include footer.html %}