---
data: gigs
---
{% include header.html %}

	<article class='tour-dates text' id='tour-dates'>


		<h1>tour dates</h1>

		<div class='gig-wrapper'>

		{% for gig in gigs.gigs %}

				<div class='gig' data-date='{{gig.date}}'>
					<div class='gig-date'>
						{{ gig.date | date: "%b %d" | downcase }}<br><span class='gig-date-year'>{{ gig.date | date: "%Y" }}</span>
					</div>
					<div class='gig-details'>
						<a href='{{ gig.artistUrl }}'><b>{{ gig.artist }}</b></a><br>
						<a href='{{ gig.venueUrl }}'>{{ gig.venue }}</a><br>
						{{ gig.city }}, {{ gig.state }}
						{% if gig.extra -%}
							<br>
							<br>
							<span class='gig-extra'>
								{{ gig.extra }}
							</span>
						{% endif %}
					</div>
					{% if gig.ticketsURL -%}
						<div class='gig-tickets'>
							<a href='{{ gig.ticketsURL }}'>Buy Tickets</a>
						</div>
					{% endif %}
				</div>

		{% else %}

			<p>No upcoming gigs</p>

		{% endfor %}

		</div>



	</article>

{% include footer.html %}