{% include header.html %}

	<article class='video' id='video'>

		<iframe height=1080 width=1920 src="https://www.youtube.com/embed/36NP75-ygx0?modestbranding=1&rel=0&vq=hd1080" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>

		<iframe height=1080 width=1920 src="https://www.youtube.com/embed/q8Xhw6R8Waw?modestbranding=1&rel=0&vq=hd1080" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>

		<iframe height=1080 width=1920 src="https://www.youtube.com/embed/nHhKfcV2MME?modestbranding=1&rel=0&vq=hd1080" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>

		<iframe height=1080 width=1920 src="https://www.youtube.com/embed/P-DIgvfQwlo?modestbranding=1&rel=0&vq=hd1080" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>

		<iframe height=1080 width=1920 src="https://www.youtube.com/embed/jCywv3g6xD0?modestbranding=1&rel=0&vq=hd1080" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>

		<div class='read-more'><a href='https://youtube.com/jessefischer'><span class='read-more white'>Watch More</span></a></div>


	</article>


{% include footer.html %}